/* whole page */
.edit{
    width: 50%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.edit h3{
    text-align: center;
    color: #6a1b9a;
    margin-bottom: 10px;
}

.edit p{
    text-align: center;
    color: #555;
    margin-bottom: 10px;
}

textarea{
    /* text-align: center; */
    margin-right: 5px;
    width: 92%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.edit button{
    background-color: #2196f3;
    border: none;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}
