.new{
    width: 40%;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.new h3{
    text-align: center;
    color: #6a1b9a;
    margin-bottom: 20px;
}


input, textarea {
    width: 90%;
    padding: 10px;
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}