/* /* whole page */
body{
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f7fa; /*light gray */
    padding: 2rem;

}


/* all headings h1 style */

h1{
    color: #1a202c;
    border-radius: 8px; /*dark text*/
    margin-bottom: 20px ;
    font-size: 28px;
}


/* idea card  */
.idea{
    background-color: #ffffff;
    border-left: 5px solid hotpink;
    margin: 15px 0;
    padding: 15px;
     border-radius: 8px;
    box-shadow: 0 2px 5px lightgray;

}

/* h3{
    margin-left: 5px;
    color: deeppink;
} */

/* p{
    margin: 5px 0;
    color: gray;
} */

/* .description p{
    display: inline-block;
    margin-top: 15px;
    padding: 10px;
    background-color: mistyrose;
    border-radius: 5px;
    color: maroon;
} */

/* .idea:hover {
  transform: scale(1.01);
  transition: 0.2s;
} */

/* home page button style */
/* .button{
    display: flex;
    gap: 10px;
    margin-left: 20px;
} */ */